<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Blink Counter</title>
  <link href="https://fonts.googleapis.com/css2?family=PT+Sans&display=swap" rel="stylesheet">
  <script src="{{ url_for('static', filename='lib/opencv.js') }}" type="text/javascript"></script>
  <script defer src="{{ url_for('static', filename='lib/face-api.min.js') }}"></script>
  <script defer src="{{ url_for('static', filename='js/blink_counter.js') }}"></script>
</head>
<body
  onload="ensureLoadedFaceApi('{{ url_for('static', filename='faceapi_models') }}', () => Setup(() => startVideo().addEventListener('play', getVideoEventListener())));"
  style="margin: 0; padding: 0; width: 100vw; height: 100vh; display: flex; justify-content: center; align-items: center; font-family: 'PT Sans', sans-serif;"
>You must run this html on flask runtime.</body>
</html>
