{# index.html #}
{% extends 'base/base.html' %}

{% block title %}Index{% endblock %}

{% block content %}


<div class='container my-3' style='z-index: 2;'>

    {% if not g.user %}
    <div class='jb-wrap'>
        <p class='jm-font'>EYE TUNER</p>
        <p class='jm-font2'>eyetracker 에 방문하신 것을 감사드립니다</p>
        <div class='jb-image'><img class='opac'
                                   src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTksVIw3gQjs6t0_H1r7MESOUGc009n5CZJtQ&usqp=CAU'
                                   style='width: 100%; height: auto !important; '></div>

        {#
        <div class='jb-text'>#}
            {#
            <div class='jb-text-table'>#}
                {#
                <div class='jb-text-table-row'>#}
                    {#
                    <div class='jb-text-table-cell'>#}
                        {# <h1> eyetracker 에 방문하신 것을 감사드립니다 </h1>#}
                        {#
                    </div>
                    #}
                    {#
                </div>
                #}
                {#
            </div>
            #}
            {#
        </div>
        #}
    </div>
    <br />
    <br />


    {% else %}

    <br />
    안녕하세요. {{ g.user.userid }}님&nbsp;&nbsp;
    <a class='btn-sm btn-dark' href="{{ url_for('auth.logout') }}">로그아웃</a>
    <br /> <br />
    <div style="text-align: center">
        <p style="font-size:450%; font-weight : bold ">TYPE WRITER</font>
    </div>

    <br/>
    <div style="width:33%; height:150px; float:left; text-align: center">
        <h2>Select Text</h2>
        <button type="button" class="btn btn-primary" onclick='mySend1("file:///eyetuner_flask/static/words/1.txt")'>T1</button>
        <button type="button" class="btn btn-primary" onclick='mySend2()'>T2</button>
        <button type="button" class="btn btn-primary" onclick='mySend3()'>T3</button>
        <button type="button" class="btn btn-primary" onclick='mySend4()'>T4</button>
    </div>
    <div style="width:33%; height:150px; float:left; text-align: center">
        <h2>Text Speed</h2>
        <button type="button" class="btn btn-info" onclick='q1()'>1</button>
        <button type="button" class="btn btn-info" onclick='q2()'>2</button>
        <button type="button" class="btn btn-info" onclick='q3()'>3</button>
        <button type="button" class="btn btn-info" onclick='q4()'>4</button>
        <button type="button" class="btn btn-info" onclick='q5()'>5</button>
    </div>
    <div style="width:33%; height:150px; float:left; text-align: center">
        <h2>Saturation, Lightness</h2>
        <label>채도 조절:</label>
        <input type='range' min=0 max=100 onchange='range_change(this)' style="color:deepskyblue">
        <br>
        <label>명도 조절:</label>
        <input type='range' min=0 max=100 onchange='range_change2(this)' style="color:deepskyblue">
    </div>
    <br/>
    <h5>텍스트를 하나 선택하고, click me 버튼을 눌러주세요. 속도 버튼, 명도 채도 슬라이더를 이용해 사용자 환경을 바꿔주세요</h5>
    <br/>
    <div style="width:200px; height:150px;">
    <button class='btn btn-outline-primary' onclick='typeWriter()'>Click me</button>
    </div>
    <br /> <br />
    <div id="textbox" style="position: relative;">

    <p id='textbox-text' style="position: absolute;"></p>
    <p id='textbox-background' style="opacity: 0.1; color: black;"></p>
    </div>
{#    <p id='demo'></p>#}

    {% endif %}

    {# 임시 링크 #}


    <div class='container text-right'>
        {#
        <p><a class='btn btn-outline-dark' href="{{ url_for('eyetracking.wink_scroll_example') }}">wink_scroll test</a>
        </p>
        <p><a class='btn btn-outline-secondary' href="{{ url_for('eyetracking.webgazer_example') }}">webgazer test</a>
        </p>
        <p><a class='btn btn-outline-success' href="{{ url_for('eyetracking.eye_tuner_detector_web') }}">EYE TUNER
            DETECTOR WEB (version 210708)</a></p>
        <p><a class='btn btn-outline-secondary' href="{{ url_for('eyetracking.webgazer_example') }}">webgazer test</a>
        </p>
        #}
    </div>
    {# #}

    {# 자장가 #}
    <!--iframe width="560" height="315" src="https://www.youtube.com/embed/du17m1rk-48?autoplay=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe-->

</div>

{% endblock %}


{% block style %}
<link rel='stylesheet' href='https://webgazer.cs.brown.edu/node_modules/bootstrap/dist/css/bootstrap.min.css'>
{% endblock %}

{% block script %}

<script src="https://webgazer.cs.brown.edu/node_modules/jquery/dist/jquery.min.js"></script>
<script src="https://webgazer.cs.brown.edu/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/static/lib/wg_eyetuner.min.js"></script>
<script src="/static/js/common.js"></script>
<script defer src="/static/js/runtime.js"></script>


<script>
    function _set_speed(sp) {
        speed = sp;
        console.log(sp);
    }

    function q1() {
        speed = 70;
    }

    function q2() {
        speed = 60;
    }

    function q3() {
        speed = 50;
    }

    function q4() {
        speed = 40;
    }

    function q5() {
        speed = 30;
    }

    let speed = 50;
</script>

<script>
    let txt;

    function mySend1() {
        $.ajax({
            url: '/static/words/1.txt',
            success: function(data) {
                txt = data;
            },
        });
    }
    function mySend2() {
        $.ajax({
            url: '/static/words/2.txt',
            success: function(data) {
                txt = data;
            },
        });
    }
    function mySend3() {
        $.ajax({
            url: '/static/words/3.txt',
            success: function(data) {
                txt = data;
            },
        });
    }
    function mySend4() {
        $.ajax({
            url: '/static/words/4.txt',
            success: function(data) {
                txt = data;
            },
        });
    }

    // 명도 채도 조절
    let saturation, lightness;

    function range_change(obj) {
        saturation=obj.value;
    }

    function range_change2(obj) {
        lightness=obj.value;
    }

    let ctx = [];

    function typeWriter(
            enable_background = true,
            main = document.getElementById('textbox-text'),
            background = document.getElementById('textbox-background')
    ) {
        let i = 0, dst = main;

        ctx.forEach(e => clearTimeout(e));
        ctx = [];
        dst.innerHTML = '';

        function inner() {
            dst.style.color = 'hsl(0,'+ saturation + '%,' + lightness + '%)';
            if (i < txt.length) {
                dst.innerHTML = txt.slice(0, i + 1);
                i++;
                ctx.push(setTimeout(inner, speed));
            } else {
                ctx.forEach(e => clearTimeout(e));
                ctx = [];
            }
        }

        if (enable_background) background.innerHTML = txt;

        inner();

    }
</script>

<script type='text/javascript'>

    window.onload = async function() {

        wg_eyetuner.params.showVideoPreview = true;
        wg_eyetuner.params.showGazeDot = false;
        //start the webgazer tracker
        await wg_eyetuner.setRegression('ridge') /* currently must set regression and tracker */
            //.setTracker('clmtrackr')
            .setListener(EYE_TUNER_RUNTIME.make_listener(_set_speed))
            .saveDataAcrossSessions(true)
            .begin();
        wg_eyetuner.showVideoPreview(true) /* shows all video previews */
            .showPredictionPoints(true) /* shows a square every 100 milliseconds where current prediction is */
            .applyKalmanFilter(true); /* Kalman Filter defaults to on. Can be toggled by user. */

        document.getElementByID('webgazerGazeDot').style.zIndex = 1;

    };

    // Set to true if you want to save the data even if you reload the page.
    window.saveDataAcrossSessions = true;

    window.onbeforeunload = function() {
        wg_eyetuner.end();
    };
</script>

{% endblock %}