{# index.html #}
{% extends 'base/base.html' %}

{% block title %}Index{% endblock %}

{% block content %}


<div class="container my-3" style="z-index: 2;">

    {# views.auth 의 load_logged_in_user 함수 덕분에 #}
    {# 따로 user 넘겨주지 않아도 공용 변수 request, g 중 g 를 통해 user 에 접근 가능합니다. #}


    {% if not g.user %}
    <div class="jb-wrap">
        <p class="jm-font">EYE TUNER</p>
        <p class='jm-font2'>eyetracker 에 방문하신 것을 감사드립니다</p>
        <div class="jb-image"><img class='opac'
                                   src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTksVIw3gQjs6t0_H1r7MESOUGc009n5CZJtQ&usqp=CAU'
                                   style='width: 100%; height: auto !important; '></div>

        {#
        <div class="jb-text">#}
            {#
            <div class="jb-text-table">#}
                {#
                <div class="jb-text-table-row">#}
                    {#
                    <div class="jb-text-table-cell">#}
                        {# <h1> eyetracker 에 방문하신 것을 감사드립니다 </h1>#}
                        {#
                    </div>
                    #}
                    {#
                </div>
                #}
                {#
            </div>
            #}
            {#
        </div>
        #}
    </div>
    <br/>
    <br/>


    {% else %}

    <br/>
    안녕하세요. {{g.user.userid}}님&nbsp;&nbsp;<a class="btn-sm btn-dark" href="{{ url_for('auth.logout') }}">로그아웃</a>
    <br/> <br/>
    <h1>Typewriter</h1>
    <h5>속도 조절 버튼 :</h5>
    <button onclick="q1()">1</button>
    <button onclick="q2()">2</button>
    <button onclick="q3()">3</button>
    <button onclick="q4()">4</button>
    <button onclick="q5()">5</button>
    <br/>
    <label>채도 조절:</label>
    <input type='range' min=0 max=100 onchange='range_change(this)'>
    <br>
    <label>명도 조절:</label>
    <input type='range' min=0 max=100 onchange='range_change2(this)'>
    <br>

    <button class="btn btn-outline-primary" onclick="typeWriter()">Click me</button>
  <br /> <br />
    <br/> <br/>
    <p id="demo"></p>

    {% endif %}

    {# 임시 링크 #}


    <div class="container text-right">

        <p><a class="btn btn-outline-dark" href="{{ url_for('eyetracking.wink_scroll_example') }}">wink_scroll test</a>
        </p>
        <p><a class="btn btn-outline-secondary" href="{{ url_for('eyetracking.webgazer_example') }}">webgazer test</a>
        </p>
        <p><a class="btn btn-outline-success" href="{{ url_for('eyetracking.eye_tuner_detector_web') }}">EYE TUNER
            DETECTOR WEB (version 210708)</a></p>
        <p><a class="btn btn-outline-secondary" href="{{ url_for('eyetracking.webgazer_example') }}">webgazer test</a>
        </p>
    </div>
    {# #}

    {# 자장가 #}
    <!--iframe width="560" height="315" src="https://www.youtube.com/embed/du17m1rk-48?autoplay=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe-->

</div>

{% endblock %}


{% block style %}
<link rel="stylesheet" href="https://webgazer.cs.brown.edu/node_modules/bootstrap/dist/css/bootstrap.min.css">
{% endblock %}

{% block script %}

<script src="https://webgazer.cs.brown.edu/node_modules/jquery/dist/jquery.min.js"></script>
<script src="https://webgazer.cs.brown.edu/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/static/lib/wg_eyetuner.min.js"></script>
<script src="/static/js/common.js"></script>
<script defer src="/static/js/runtime.js"></script>

<script>
    let saturation, lightness;
    function range_change(obj) {
     saturation=obj.value;
    }
    function range_change2(obj) {
     lightness=obj.value;
    }
    let txt = 'Eye Tuner는 당신의 올바른 독해 습관을 응원합니다.';

    function q1() {
        speed = 70
    }

    function q2() {
        speed = 60
    }

    function q3() {
        speed = 50
    }

    function q4() {
        speed = 40
    }

    function q5() {
        speed = 30
    }

    let speed = 50;
    let ctx = [];

    function typeWriter(dst = document.getElementById("demo")) {
        let i = 0;

        ctx.forEach(e => clearTimeout(e))
        ctx = [];
        dst.innerHTML = "";
        dst.style.color = 'hsl(0,'+ saturation + '%,' + lightness + '%)';

        function inner() {

            if (i < txt.length) {
                dst.innerHTML += txt.charAt(i);
                i++;
                ctx.push(setTimeout(inner, speed));

            } else {
                ctx.forEach(e => clearTimeout(e))
                ctx = []

            }
        }

        inner();
    }
</script>

<script defer type="text/javascript">

    window.onload = async function () {

        wg_eyetuner.params.showVideoPreview = true;
        wg_eyetuner.params.showGazeDot = false;
        //start the webgazer tracker
        await wg_eyetuner.setRegression('ridge') /* currently must set regression and tracker */
            //.setTracker('clmtrackr')
            .setListener(
                EYE_TUNER_RUNTIME.listener
                // function (data, clock) {
                //     //   console.log(data); /* data is an object containing an x and y key which are the x and y prediction coordinates (no bounds limiting) */
                //     //   console.log(clock); /* elapsed time in milliseconds since webgazer.begin() was called */
                // }
            )
            .saveDataAcrossSessions(true)
            .begin();
        wg_eyetuner.showVideoPreview(true) /* shows all video previews */
            .showPredictionPoints(true) /* shows a square every 100 milliseconds where current prediction is */
            .applyKalmanFilter(true); /* Kalman Filter defaults to on. Can be toggled by user. */

        // 요놈 때문에 클릭이 안됐었던것으로 추정... 이건 내가 NodeJS 빌드로 이코드 없어도 되게 수정할 예정  // dhakim
        document.getElementById("webgazerGazeDot").style.zIndex = 1;

    };

    // Set to true if you want to save the data even if you reload the page.
    window.saveDataAcrossSessions = true;

    window.onbeforeunload = function () {
        wg_eyetuner.end();
    }
</script>

{% endblock %}
